<ion-view>
<div class="container">
  <img src="">

  <form ng-submit="tryLogin()">
      <div class="list">
         <div>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="@email.com">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
        </div>
        </br>
        <div>
          <button class="button button-full button-stable" >
          Login
        </button>
        
     
          <button class="button button-block button-stable" type="submit">Login with Facebook</button>
        </div>
        <div style="text-align: center">
          Or <a href="/#/signup">Create an account</a>
        </div>
      </div>
    </form>
</ion-view>