<ion-view view-title="Questions">

  <ion-content>
    <ion-list>
      <ion-item>
        <p>Username</p>
      </ion-item>
      <ion-item>
        <p>Question</p>
      </ion-item>  
      <ion-item>
        <p>img</p>
      </ion-item>  
      <ion-item>
        <ion-list>
          <ion-item>
          <button class="button button-outline button-positive">yes</button></ion-item>
          <ion-item>cancel</ion-item>
          <ion-item>no</ion-item>
        </ion-list>
      </ion-item>  
                
    </ion-list>
  </ion-content>
</ion-view>
